<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLGuest"
        providerName="System.Data.ProviderName"
        connectionString="Data Source = .\SQLEXPRESS;
        Initial Catalog = Server_SQL;
        Integrated Security = True;
        TrustServerCertificate = True;" />

    <add name="SQLUser"
       providerName="System.Data.ProviderName"
       connectionString="Data Source = .\SQLEXPRESS;
        Initial Catalog = Server_SQL;
        Integrated Security = True;
        TrustServerCertificate = True;" />

    <add name="SQLAdmin"
       providerName="System.Data.ProviderName"
       connectionString="Data Source = .\SQLEXPRESS;
        Initial Catalog = Server_SQL;
        Integrated Security = True;
        TrustServerCertificate = True;" />
  </connectionStrings>
</configuration>